<h1>Product Database</h1>
<h1>Today we are going to discuss on Class Based View -CBV -CRUD operation.(Create, Retrive, Update, Delete)</h1>
<!---
{% for object in object_list %}
{{ object.name }}<br><br>
{% endfor %}
-->

<!-- Display Objects -->
{% for object in object_list %}
<li>Product Number         : {{ object.id }}</li>
<li>Name         : {{ object.name }}</li>
<li>Price   :{{ object.price }}</li>
<li>Description :{{ object.description }}</li>
-->

<!-- If object_list is empty  -->

{% endfor %}